<div class="modal-header">
   <h3>Log In<h3>
</div>
<div class="modal-body">
  <form ng-submit class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-3" for="login-username">User:</label>
      <div class="col-sm-9">
	<input type="text" class="form-control" autofocus
	       id="login-username" name="username"
	       ng-model="name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="login-password">Password:</label>
      <div class="col-sm-9">
	<input type="password" class="form-control"
	       id="login-password" name="password"
	       ng-model="password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="alert col-sm-12" style="text-align: center;" ng-show="session.error">
	{{ session.error.reason }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
	<input type="submit" class="btn btn-primary" 
	       name="ok" ng-click="ok()" value="Log in"/>
	<input type="submit" class="btn"
	       name="cancel" ng-click="$dismissl()" value="Cancel"/>
      </div>
    </div>
  </form>
</div>
