<div class="modal-header">
   <h3>Upload {{ dataType }}<h3>
</div>
<div class="modal-body">
  <form ng-submit class="form-horizontal" name="uploadForm"
	enctype="multipart/form-data" novalidate>

    <div class="form-group">
      <span class="help-block">
	Use this to a upload CSV file containing {{ dataType | lowercase }}
	records.
      </span>
    </div>

    <div ng-include="uploadHelp" />

    <div class="form-group" >
      <label class="control-label col-sm-3" for="upload-file-input">
	CSV file:
      </label>
      <div class="col-sm-9">
	<input id="upload-file-input" type="file"
	       required
	       ng-disabled="uploading"
	       ng-model="uploadFilename"/>
      </div>
    </div>
    <div>
      
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
	<input type="submit" class="btn btn-primary"
	       value="Upload"
	       ng-disabled="uploadForm.$pristine || uploadForm.$invalid || uploading"
	       ng-click="uploadFile('#upload-file-input')"/>
	<input type="submit" class="btn"
	       name="cancel" ng-click="$dismiss()" value="Dismiss"/>
      </div>
  </form>
</div>
<div class="modal-footer">
  <div class="form-group">
    <div>{{ uploadMessage }}</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped"
	 role="progressbar"
	 ng-class="{active: uploading}"
	 ng-style="{width: uploadPercent+'%'}">
      <div class="sr-only">Uploading...</div>
    </div>
  </div>
</div>
